@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* Header Button Styles */

    .button{
        @apply  bg-blue-500 text-white px-3 py-2 rounded-full
                hover:bg-blue-600 transition-[background-color,color]
                disabled:bg-zinc-300 disabled:text-black disabled:hover:bg-zinc-300
                max-md:text-sm
    }

    /* -------------------- */

}